[Unit]
Description=upbatt daemon (battery uptime and stats)
After=syslog.target

[Service]
User=xfennec
Group=xfennec
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lib/upbatt
ExecStartPre=/bin/chown xfennec:xfennec /var/lib/upbatt
ExecStart=/home/xfennec/Quiris/Go/bin/upbatt -server

[Install]
WantedBy=multi-user.target
